<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="properties.urdf.xacro"/>
    <xacro:include filename="structure.urdf.xacro"/>
    <xacro:include filename="gazebo.urdf.xacro"/>   
    <xacro:include filename="camera.urdf.xacro"/>
</robot>